<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>


<% if user_signed_in? %>

<p> Usuário  <%= current_user.email %> está logado <p>





<% else %>

<p> Usuário não está logado </p>

<% end%>



<% if admin_signed_in? %>

<p> admin está logado <p>





<% else %>

<p> admin não está logado </p>

<% end%>



<br>
<%= link_to "User page", users_backoffice_welcome_index_path %> 

<br>

<%= link_to "Admin page", admins_backoffice_welcome_index_path %> 